# Install pytorch with conda and CUDA support first
# $> conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
# Then
# $> pip install -r requirements.txt

protobuf
transformers==4.27.1
cpm_kernels
torch>=1.10
gradio
mdtex2html
sentencepiece
accelerate
# readline
pyreadline3
langchain
InstructorEmbedding
sentence_transformers
arrow
pytz
